* {
  margin: 0;
  padding: 0;
  font-family: Helvetica Black, Helvetica, Arial;
  font-size: 28px;
  /* outline: .5px solid red;; */
  text-align: left;
}

article {
  box-sizing: border-box;
  margin: 9px;
  padding: 15px;
  width: 680px;
  border: 2px solid black;
}

header {
  border-bottom: 15px solid black;
}

h1 {
  font-size: 2em;
}

header dl + dl {
  text-align: right;
}

header:first-of-type h2 {
  border-top: 30px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

header dl {
  display: inline-block;
  width: 49.3%;
  padding: 5px 0;
}

dt {
  display: inline;
}

dd {
  display: inline;
  margin-inline-start: 0;
}

dl dt {
  font-weight: bold;
}

dl dd {
  font-weight: normal;
}


.indent + th dl dt {
  font-weight: normal;
}

header dl + dl dt {
  font-weight: normal;
}


table:first-of-type thead tr {
  text-align: right;
  width: 100%;
}

table:first-of-type thead th {
  padding-top: 8px;
  text-align: right;
  white-space: nowrap;
  /* border-bottom: 1px solid black; */
  /* background-color: yellow; */
}

table:first-of-type tbody:first-of-type tr td {
  text-align: right;
  font-weight: bold;
}

table:first-of-type tbody:last-of-type {
  box-sizing: border-box;
  border-top: 15px solid black;
  /* background-color: gray; */
}

table:first-of-type tbody:first-of-type tr {
  border-top: 1px solid black;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.indent {
  width: 28px;
  border: none;
}

table:first-of-type tbody:last-of-type tr {
  border-bottom: 1px solid black;
}

table:first-of-type tbody:last-of-type tr td + td {
  text-align: right;
}

tfoot tr td{ 
  padding: 15px 0 20px 10px;
  font-size: .9rem;
  text-align: left;
  text-indent: -0.7rem;
}

table:last-of-type th, table:last-of-type td {
  background-color: grey;
  font-size: 95%;
}

table:last-of-type thead tr:first-of-type th {
  font-weight: none;
}